@charset "UTF-8"

html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    height: 10vh;
    padding-top: 30px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
    
}



@media screen and (min-width:576px) {
        
    .container {
        max-width: 540px;
        padding: 0px;
    }

    header .container nav {
        display: block;
    }

    section.hi {
        background-image: url(img/fundo.png);
        
    }

    section.sobre .container .sobre-content2 #desktop {
        display: block;
    }

    section.sobre .container .sobre-content #mobile {
        display: none;
    }
    
    section.hi .container .botoes {
        justify-content: left;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

header img.logo {
    max-width: 60px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    margin-left: 30px;
    font-size: 1.5em;
}

header li a {
    text-decoration: none;
    color: black;
}



section.hi {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section.hi .container {
    height: 90vh;
    display: flex;
    align-items: center;
}


section.hi .hi-content h1 {
    font-size: 5em;
    margin: 0px;
}

section.hi .hi-content h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: #424245;
}

section.hi .hi-content button {
    font-size: 1.2em;
    padding: 20px;
    cursor: pointer;
}

section.hi .botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


section.hi .hi-content button a {
    text-decoration: none;
}

section.hi .hi-content .button1 {
    background-color: #075FE4;
    border: none;
    color: white;
    margin-right: 30px;
}

section.hi .hi-content .button1 a {
    color: white;
}

section.hi .hi-content .button2 {
    background-color: white;
    border: 1px solid black;
    color: rgb(0, 0, 0);
}

section.hi .hi-content .button2 a {
    color: rgb(0, 0, 0);
}



section.hi .hi-content .button1:hover {
    background-color: #0655ca;
}

section.hi .hi-content button:hover a {
    color: #ffffff;
}

section.hi .hi-content button:hover {
    background-color: #000000;
}

section.hi .hi-content .button2 a:hover {
    color: white;
}



section.sobre {
    background-color: #000000;
}

section.sobre .sobre-content img {
    max-width: 326px;
    padding-bottom: 30px;
}

section.sobre .container {
    display: flex;
    color: white;
    height: auto;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.sobre .sobre-content {
    width: 50%;
    text-align: center;
    background-color: #000000;

}

section.sobre .sobre-content h1 {
    font-size: 2em;
    padding-bottom: 30px;
}

section.sobre .sobre-content2 {
    width: 50%;
    background-color: #000000;
}

section.sobre .sobre-content2 h1 {
    font-size: 2em;
}

section.sobre .sobre-content2 #desktop {
    display: none;
}









section.tecnologias .container {
    height: auto;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;  
}

section.tecnologias h1 {
    font-size: 2em;
    padding-bottom: 30px;
}


section.tecnologias img {
    max-width: 80px;
    margin: 0px 20px;
    -webkit-filter:grayscale(100%);
}

section.tecnologias img:hover {
    -webkit-filter:grayscale(0%);
    transition: 1s;
}






section.contato .container {
    height: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;  
}

section.contato h1 {
    font-size: 2em;
    margin: 0px;
}

section.contato h3 {
    font-size: 1.4em;
    margin-top: 5px;
    font-weight: 400;
}

section.contato form input {
    width: 20vw;
    height: 50px;
    border-radius: 0px;
    border: 1px solid rgb(0, 0, 0);
    border-right: none;
    text-align: center;
    font-size: 1.1em;
    padding: 0px;
}


section.contato form {
   display: flex;
   justify-content: center;
   align-items: center;
}



section.contato form button {
    width: 10vw;
    height: 52px;
    background-color: #075FE4;
    color: white;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
}










footer {
    height: 10vh;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

footer img.logo {
    max-width: 60px;
}

footer img.subir {
    max-width: 55px;
}

footer .container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}


footer ul {
    list-style: none;
    padding: 0px;
}

footer li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5em;
}

footer li a {
    text-decoration: none;
    color: black;
}


















@media screen and (max-width:768px) {
    section.sobre .container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    section.sobre .sobre-content {
        width: 100%;

    }
    
    section.sobre .sobre-content2 {
        width: 100%;
        text-align: center;
    }

    section.sobre .sobre-content2 p {
        text-align: justify;
    }


    section.contato form {
        flex-direction: column;
     }
     
     
     section.contato form input {
         width: 70vw;
         height: 50px;
         border: 1px solid rgb(0, 0, 0);
        border-bottom: none;
     }
     
     
     section.contato form button {
         width: 70.5vw;
         height: 51px;
         border: none;
     }

     section.hi .hi-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}