@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');



* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

.container {
    padding: 0 16px;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    height: auto;
}

header .container nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.entrada .container {
    background-image: url(img/fundo-entrada-mobile.png);
    background-size: cover;
    height: 90vh;
}

section.entrada .container h1 {
    margin: 0px;
    padding: 0px;
    color: white;
    text-align: center;
    padding-top: 26%;
    font-size: 1.8em;
}

section.entrada .container h3 {
    margin: 0px;
    padding: 0px;
    color: white;
    text-align: center;
    padding-top: 32px;
    font-size: 1.3em;
    font-weight: 400;
    cursor: pointer;
}

section.entrada .container .entrada-botao {
    margin: 0px;
    padding: 0px;
    color: white;
    text-align: center;
    padding-top: 50%;
}

section.entrada .container .entrada-botao button a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

section.entrada .container .entrada-botao button {
    background-color: #EB5269;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    border-radius: 10px;
    font-weight: bold; 
}


section.entrada .container .entrada-botao button:hover {
    background-color: #b13d4f;
    transition: 1s;
}

.carreira {
    height: auto;
}

.vantagem {
    padding-top: 32px;
}

.padding16 {
    padding-top: 16px;
}

.titulo {
    padding-top: 32px;
    font-size: 1.2em;
    font-weight: 700;

}

.subtitulo {
    font-weight: 700;
}


section.diferença .container h1 {
    font-weight: 700;
    color: #FCA758;
}



section.diferença .container img {
    width: 100%;
    padding-top: 16px;
}

section.diferença .container button {
    background-color: #FCA758;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    border-radius: 10px;
    font-weight: bold; 
     
}

section.diferença .container button a {
    color: white;
    text-decoration: none;
    font-size: 2em; 
}
 

section.diferença .botao2 {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.depoimentos i {
    color: #FFEA59;
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


section.depoimentos i:first-child {
    left: 16px;
}

section.depoimentos i:last-child {
    right: 16px;
}


section.depoimentos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


section.depoimentos .carrossel {
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
}

section.depoimentos .carrossel img {
    height: 340px;
    object-fit: cover;
    width: calc(100% / 1);
}


.carrossel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}


.carrossel.dragging img {
    pointer-events: none;
}
 


.depoimentos h1 {
    color: #FFEA59;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 16px;
}
 

footer {
    margin-top: 32px;
    height: 12vh;
    background-color: #EB5269;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 32px 0px;
}

footer h3 {
   font-size: 1.2em;
   font-weight: 600;
}

footer .redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    padding-top: 16px;
    padding-bottom: 16px;
 }
 

